@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply rounded-2xl py-2.5 px-4 bg-secondary-300 text-white border-0 mt-10 text-base font-bold cursor-pointer transition duration-150 hover:scale-110
}

.button:disabled {
    background: #fff;
    color: #ccc;
    cursor: no-drop;
    border: none;
}

html,
body, * {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    max-width: 1400px;
    margin: auto;
    width: 100%;

}

.layout {
    margin-top: 0.8rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    margin-top: 0.5rem;
    position: relative;
}

.marquee-text {
    font-size: 29px;
    font-weight: 600;
    margin: 60px 0px;
    color: #f02d34;
}

.marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.cart-icon {
    font-size: 25px;
    color: gray;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
}

.cart-icon:hover {
    transform: scale(1.1, 1.1);
}

.cart-item-qty {
    position: absolute;
    right: -15px;
    top: -8px;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;

}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.product-card {
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;

}

.product-card:hover {
    transform: scale(1.1, 1.1)
}

.product-image {
    border-radius: 15px;
    background-color: #ebebeb;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.product-name {
    font-weight: 500;
}

.product-price {
    font-weight: 800;
    margin-top: 6px;
    color: black;
}

.hero-banner-container {
    @apply bg-secondary-200;
    padding: 100px 40px;
    position: relative;
    line-height: 0.9;
    width: 100%;
}

.hero-banner-container .beats-solo {
    font-size: 20px;
}


.hero-banner-container h3 {
    font-size: 4rem;
    margin-top: 4px;
}

.hero-banner-container h1 {
    color: white;
    font-size: 10em;
    margin-left: -20px;
    text-transform: uppercase;
}

.hero-banner-image {
    position: absolute;
    top: 0%;
    right: 20%;
    width: 450px;
    height: 450px;
}


.desc {
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 300px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    color: #324d67;

}

.desc p {
    color: #5f5f5f;
    font-weight: 100;
    text-align: end;
}

.desc h5 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    /* color: black; */
    align-self: flex-end;
}

.products-heading {
    text-align: center;
    margin: 40px 0px;
    color: #324d67;

}

.products-heading h2 {
    font-size: 40px;
    font-weight: 800;
}

.products-heading p {
    font-size: 16px;
    font-weight: 200;
}

.footer-banner-container {
    @apply bg-secondary-200 text-white mt-10;
    padding: 100px 40px;
    border-radius: 15px;
    position: relative;
    height: 400px;
    line-height: 1;
    width: 100%;
}

.banner-desc {
    display: flex;
    justify-content: space-between;
}

.banner-desc .left h3 {
    font-weight: 900;
    font-size: 80px;
    margin-left: 25px;
}

.banner-desc .left p {
    margin: 18px;
}

.footer-banner-image {
    position: absolute;
    /* top: -35%;
    left: 8%; */
    top: -25%;
    left: 25%;
}

.banner-desc .right {
    line-height: 1.4;
}

.banner-desc .right h3 {
    font-weight: 800;
    font-size: 60px;
}

.banner-desc .right p {
    font-size: 18px;
}

.banner-desc .right .company-desc {
    font-size: 14px;
    font-weight: 300;
}

.cart-wrapper {
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    /* will-change: transform; */
    transition: all 1s ease-in-out;

}

.cart-container {
    height: 100vh;
    width: 600px;
    background-color: white;
    float: right;
    padding: 40px 10px;
    position: relative;

}

.footer-container {
    @apply bg-primary-200 py-3 text-navyBlue-300 flex align-middle justify-center gap-3 font-bold mt-10;
}

.footer-container .icons {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.cart-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.cart-heading .heading {
    margin-left: 10px;
}

.empty-cart {
    margin: 40px;
    text-align: center;
}

.empty-cart h3 {
    font-weight: 600;
    font-size: 20px;
}

.cancel {
    cursor: pointer;
}

.product-container {
    margin-top: 15px;
    overflow: auto;
    max-height: 70vh;
    padding: 20px 10px;
}

.product {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.product .cart-product-image {
    width: 180px;
    height: 150px;
    border-radius: 15px;
    background-color: #ebebeb;
}

.item-desc .flex {
    display: flex;
    justify-content: space-between;
    width: 350px;
    color: #324d67;

}

.item-desc .bottom {
    margin-top: 60px;
}

.flex h5 {
    font-size: 24px;
}

.flex h4 {
    font-size: 20px;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total h3 {
    font-size: 22px;

}

.remove-item {
    font-size: 24px;
    color: #f02d34;
    cursor: pointer;
    background: transparent;
    border: none;
}

.cart-bottom {
    position: absolute;
    bottom: 12px;
    right: 5px;
    width: 100%;
    padding: 30px 65px;

}

.btn-container {
    width: 400px;
    margin: auto;
}

.product-detail-container {
    display: flex;
    gap: 40px;
    margin: 40px;
    margin-top: 60px;
    color: #324d67;
    justify-content: center;
    align-items: center;

}

.product-detail-image {
    border-radius: 15px;
    background-color: #ebebeb;

    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.product-detail-image:hover {
    @apply bg-secondary-100

}

.small-images-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.small-image {
    border-radius: 8px;
    background-color: #ebebeb;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.selected-image {
    @apply bg-secondary-100
}

.price .old-price, .product-price .old-price, .price .old-price {
    color: gray;
    text-decoration: line-through;
}

.quantity-desc span {
    font-size: 16px;
    padding: 6px 12px;
    cursor: pointer;
}

.maylike-products-wrapper {
    margin-top: 120px;
}

.maylike-products-wrapper h2 {
    text-align: center;
    margin: 50px;
    color: #324d67;

    font-size: 28px;
}

.maylike-products-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.max-qty {
    font-weight: 500;
    color: #f02d34;
}

.success-wrapper, .cancel-wrapper {
    background-color: white;
    min-height: 60vh;

}

.success, .cancel {
    width: 1000px;
    margin: auto;
    margin-top: 160px;
    background-color: #dcdcdc;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success .icon {
    color: green;
    font-size: 40px;
}

.success h2 {
    text-transform: capitalize;
    margin-top: 15px;
    font-weight: 900;
    font-size: 40px;
    color: #324d67;
}

.success .email-msg {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.cancel p {
    font-size: 20px;
    font-weight: 600;
}

.success .description {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

.success .description .email {
    margin-left: 5px;
    color: #f02d34;
}

.product-max-qty {
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .hero-banner-container {
        height: 560px;
    }

    .hero-banner-image {
        width: 77%;
        height: 62%;
        top: -2%;
        right: -6%;
    }

    .footer-banner-container {
        height: 560px;
        margin-top: 80px;
    }

    .footer-banner-image {
        width: 77%;
        left: 30%;
        top: 6%;
        height: 56%
    }

    .banner-desc .left h3 {
        font-weight: 900;
        font-size: 50px;
        margin-left: 5px;
    }

    .banner-desc .left p {
        margin: 18px;
    }

    .banner-desc .right h3 {
        font-size: 45px;
    }

    .banner-desc .right p {
        font-size: 18px;
    }

    .banner-desc .right .company-desc {
        font-size: 14px;
    }

    .banner-desc {
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero-banner-container {
        line-height: 1.3;
    }

    .hero-banner-container h1 {
        font-size: 50px;
    }

    .hero-banner-container h3 {
        font-size: 40px;
    }

    .hero-banner-container button {
        margin-top: 90px;
        z-index: 10000;
    }

    .desc {
        bottom: 60px;
    }

    .product-detail-container {
        flex-wrap: wrap;
    }

    .product-detail-container .product-detail-image {
        width: 350px;
        height: 350px;
    }

    .cart-container {
        width: 415px;
        padding: 4px;
    }

    .cart-heading {
        margin-top: 35px;
    }

    .product-container {
        margin-top: 10px;
    }

    .product {
        padding: 20px 5px;

    }

    .product .cart-product-image {
        width: 25%;
        height: 25%;
    }

    .buttons .add-to-cart {
        width: 150px;
    }

    .buttons .buy-now {
        width: 150px;
    }

    .product-detail-container {
        margin: 20px;
    }

    .item-desc .flex {
        width: 200px;
    }

    .top {
        flex-wrap: wrap;
        gap: 10px;


    }

    .item-desc .bottom {
        margin-top: 30px;
    }

    .flex h5 {
        font-size: 16px;
        color: #324d67;
    }

    .flex h4 {
        font-size: 16px;
        color: black;
    }

    .cart-bottom {
        padding: 30px;
    }

    .total h3 {
        font-size: 20px;
    }

    .track {
        animation: marquee 10s linear infinite;
        width: 550%;
    }

    .success-wrapper, .cancel-wrapper {

        min-height: 69vh;
    }

    .success, .cancel {
        width: 370px;
        margin-top: 100px;
        padding: 20px;
    }

    .success {
        height: 350px;
    }

    .success h2 {
        font-size: 17px;
    }

    .btn-container {
        width: 300px;
        margin: auto;
    }
}